coreapi==2.3.3
# https://www.djangoproject.com/
django==3.2.3
django-debug-toolbar==3.2.1
# django-debug-toolbar-line-profiler==0.6.1
djangorestframework==3.12.4
Markdown==3.3.4
mistune==0.8.4
Pympler==0.9
ilds>=0.1.93
